.page {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.button {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 1.5rem;
    font-size: 1rem;
    color: #fff;
}
.items {
    position: absolute;
    top: 3.5rem;
    right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}
.site-name {
    position: absolute;
    top: 4.188rem;
    left: 5rem;
    line-height: 150%;
    font-weight: 500;
}
.about-us1 {
    width: 7.188rem;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 1.813rem;
    flex-shrink: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.services {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}
.items2 {
    position: absolute;
    top: 3.688rem;
    right: 2.938rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
    width: 49.75rem;
    height: 2.813rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.horizon-living {
    position: absolute;
    top: 1.938rem;
    left: 1.813rem;
    font-size: 4rem;
    line-height: 150%;
    display: flex;
    font-family: 'Crimson Text';
    color: #1f4524;
    align-items: center;
    width: 31.563rem;
    height: 6.313rem;
    cursor: pointer;
}
.navigation2 {
    position: absolute;
    width: 100%;
    top: 0rem;
    right: 0rem;
    left: 0rem;
    background-color: #fff;
    height: 10.25rem;
    overflow: hidden;
    font-size: 1.563rem;
    color: #473d3d;
}
.navigation1 {
    position: absolute;
    width: 100%;
    top: 0.438rem;
    right: 0rem;
    left: 0rem;
    background-color: #fff;
    height: 10.25rem;
    overflow: hidden;
}
.navigation {
    position: absolute;
    width: 100%;
    top: 0rem;
    right: 0rem;
    left: 0rem;
    background-color: #fff;
    height: 10.25rem;
    overflow: hidden;
    font-size: 1.25rem;
}
.learn-more {
    width: 8.188rem;
    position: absolute;
    margin: 0 !important;
    top: 0.5rem;
    left: calc(50% - 65px);
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    z-index: 0;
}
.button4 {
    position: absolute;
    top: 98.375rem;
    left: 2.75rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #093b11;
    width: 12.875rem;
    height: 3.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem 1.937rem 1.25rem 2rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.topic {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    color: #000;
}
.page6 {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.items3 {
    position: absolute;
    top: 3rem;
    right: 33.313rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.items4 {
    position: absolute;
    top: 3rem;
    right: 19.125rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.items5 {
    position: absolute;
    top: 3rem;
    right: 5rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.horizon-living1 {
    position: absolute;
    top: 2.125rem;
    left: 5rem;
    font-size: 3rem;
    line-height: 150%;
    font-family: 'Playfair Display';
    color: #fff;
}
.buttons-icon {
    width: 2.5rem;
    position: relative;
    border-radius: 4px;
    height: 2.5rem;
    object-fit: cover;
}
.social-icons {
    position: absolute;
    top: 11rem;
    left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.divider {
    position: absolute;
    top: 0.031rem;
    left: 4.969rem;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 80.063rem;
    height: 0.063rem;
}
.navigation-footer {
    position: absolute;
    width: 100%;
    right: -97.75rem;
    bottom: -38.437rem;
    left: 97.75rem;
    background-color: #062c19;
    height: 16.5rem;
    overflow: hidden;
    font-size: 1rem;
    color: #454545;
}
.about-us2 {
    position: absolute;
    top: 39.938rem;
    left: 52.813rem;
    font-size: 3rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    font-family: 'Playfair Display';
    display: inline-block;
    width: 39rem;
}
.image-9-icon {
    position: absolute;
    top: 39.938rem;
    left: 1.875rem;
    width: 46.9rem;
    height: 29.313rem;
    object-fit: cover;
}
.about-us-child {
    position: absolute;
    top: 45.188rem;
    left: 53.625rem;
    background-color: #d9d9d9;
    width: 36rem;
    height: 16rem;
}
.about-us-item {
    position: absolute;
    top: 10.25rem;
    left: 0rem;
    width: 90rem;
    height: 23.563rem;
    object-fit: contain;
}
.about-us-inner {
    position: absolute;
    top: 9.438rem;
    left: 0.438rem;
    width: 92.625rem;
    height: 25.188rem;
}
.meet-our-staff {
    position: absolute;
    top: 74.563rem;
    left: 1.875rem;
    font-size: 3rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    font-family: 'Playfair Display';
    display: inline-block;
    width: 29.313rem;
    height: 5.5rem;
}
.image-18-icon {
    position: absolute;
    top: 74.563rem;
    left: 53.625rem;
    width: 36rem;
    height: 27.063rem;
    object-fit: cover;
}
.rectangle-div {
    position: absolute;
    top: 82.813rem;
    left: 2.75rem;
    background-color: #d9d9d9;
    width: 41.75rem;
    height: 1.688rem;
}
.about-us-child1 {
    position: absolute;
    top: 85.875rem;
    left: 2.75rem;
    background-color: #d9d9d9;
    width: 41.75rem;
    height: 1.688rem;
}
.about-us-child2 {
    position: absolute;
    top: 88.625rem;
    left: 2.75rem;
    background-color: #d9d9d9;
    width: 41.75rem;
    height: 1.688rem;
}
.about-us-child3 {
    position: absolute;
    top: 91.688rem;
    left: 2.75rem;
    background-color: #d9d9d9;
    width: 41.75rem;
    height: 1.688rem;
}
.about-us-child4 {
    position: absolute;
    top: 94.438rem;
    left: 2.75rem;
    background-color: #d9d9d9;
    width: 33.5rem;
    height: 1.688rem;
}
.our-mission {
    width: 8.563rem;
    position: absolute;
    margin: 0 !important;
    top: 0.5rem;
    left: calc(50% - 65px);
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    z-index: 0;
}
.button5 {
    position: absolute;
    top: 62.875rem;
    left: 53.625rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #093b11;
    width: 12.875rem;
    height: 3.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25rem 1.937rem 1.25rem 2rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.about-us {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 125.75rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.5rem;
    color: #000;
    font-family: Inter;
}

