.dining-rooms {
    position: absolute;
    top: 31.063rem;
    left: 5rem;
    font-size: 2.5rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 39.063rem;
}
.fitness-center {
    position: absolute;
    top: 71.563rem;
    left: 5rem;
    font-size: 2.5rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 39.063rem;
}
.medical-center {
    position: absolute;
    top: 112.625rem;
    left: 4.625rem;
    font-size: 2.5rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 39.063rem;
}
.recreational-building {
    position: absolute;
    top: 151.375rem;
    left: 4.813rem;
    font-size: 2.5rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 39.063rem;
}
.facilities1 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
}
.subheading-that-sets {
    align-self: stretch;
    position: relative;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
}
.article-title {
    position: absolute;
    width: 50.9%;
    top: 15.25rem;
    right: 43.54%;
    left: 5.56%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    font-size: 4rem;
}
.page {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.button {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 1.5rem;
    font-size: 1rem;
    color: #fff;
}
.items {
    position: absolute;
    top: 3.5rem;
    right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}
.site-name {
    position: absolute;
    top: 4.188rem;
    left: 5rem;
    line-height: 150%;
    font-weight: 500;
}
.about-us {
    width: 7.188rem;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 1.813rem;
    flex-shrink: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.services {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}
.items1 {
    position: absolute;
    top: 3.688rem;
    right: 2.938rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
    width: 49.75rem;
    height: 2.813rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.horizon-living {
    position: absolute;
    top: 1.938rem;
    left: 1.813rem;
    font-size: 4rem;
    line-height: 150%;
    display: flex;
    font-family: 'Crimson Text';
    color: #1f4524;
    align-items: center;
    width: 31.563rem;
    height: 6.313rem;
    cursor: pointer;
}
.navigation1 {
    position: absolute;
    width: 100%;
    top: 0rem;
    right: 0rem;
    left: 0rem;
    background-color: #fff;
    height: 10.25rem;
    overflow: hidden;
    font-size: 1.563rem;
    color: #473d3d;
}
.navigation {
    position: absolute;
    width: calc(100% + 2px);
    top: 0rem;
    right: -0.062rem;
    left: -0.062rem;
    background-color: #fff;
    height: 10.25rem;
    overflow: hidden;
}
.topic {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    color: #000;
}
.page3 {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.items2 {
    position: absolute;
    top: 3rem;
    right: 32.313rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.items3 {
    position: absolute;
    top: 3rem;
    right: 18.625rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.items4 {
    position: absolute;
    top: 3rem;
    right: 5rem;
    width: 11.688rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.horizon-living1 {
    position: absolute;
    top: 2.125rem;
    left: 5rem;
    font-size: 3rem;
    line-height: 150%;
    font-family: 'Playfair Display';
    color: #fff;
}
.buttons-icon {
    width: 2.5rem;
    position: relative;
    border-radius: 4px;
    height: 2.5rem;
    object-fit: cover;
}
.social-icons {
    position: absolute;
    top: 11rem;
    left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}
.divider {
    position: absolute;
    top: 0.031rem;
    left: 4.969rem;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 80.063rem;
    height: 0.063rem;
}
.navigation-footer {
    position: absolute;
    width: 100%;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    background-color: #062c19;
    height: 16.5rem;
    overflow: hidden;
    font-size: 1rem;
    color: #454545;
}
.facilities-child {
    position: absolute;
    top: 38.688rem;
    left: 4.625rem;
    width: 80.313rem;
    height: 25.188rem;
}
.facilities-item {
    position: absolute;
    top: 80.688rem;
    left: 4.375rem;
    width: 78.313rem;
    height: 25.188rem;
}
.facilities-inner {
    position: absolute;
    top: 120.875rem;
    left: 4.813rem;
    width: 78.313rem;
    height: 25.188rem;
}
.rectangle-icon {
    position: absolute;
    top: 160.5rem;
    left: 4.375rem;
    width: 78.313rem;
    height: 25.188rem;
}
.the-dining-rooms {
    position: absolute;
    top: 33.813rem;
    left: 5rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 47.438rem;
    height: 4.875rem;
}
.the-fitness-center {
    position: absolute;
    top: 74.875rem;
    left: 4.625rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 54.875rem;
    height: 4.563rem;
}
.the-medical-center {
    position: absolute;
    top: 115.813rem;
    left: 4.813rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 52.875rem;
    height: 5.063rem;
}
.the-recreational-building {
    position: absolute;
    top: 155.875rem;
    left: 4.938rem;
    line-height: 110%;
    font-weight: 600;
    display: inline-block;
    width: 54.563rem;
    height: 4.625rem;
}
.line-icon {
    position: absolute;
    top: 38.938rem;
    left: 5.125rem;
    width: 79.813rem;
    height: 24.938rem;
    object-fit: contain;
}
.facilities-child1 {
    position: absolute;
    top: 38.938rem;
    left: 5.125rem;
    width: 79.625rem;
    height: 24.938rem;
    object-fit: contain;
}
.facilities-child2 {
    position: absolute;
    top: 80.813rem;
    left: 4.938rem;
    width: 77.75rem;
    height: 25.063rem;
    object-fit: contain;
}
.facilities-child3 {
    position: absolute;
    top: 81rem;
    left: 5.125rem;
    width: 77.313rem;
    height: 24.875rem;
    object-fit: contain;
}
.facilities-child4 {
    position: absolute;
    top: 120.938rem;
    left: 5.313rem;
    width: 77.375rem;
    height: 25.125rem;
    object-fit: contain;
}
.facilities-child5 {
    position: absolute;
    top: 121.313rem;
    left: 5.313rem;
    width: 77.688rem;
    height: 24.75rem;
    object-fit: contain;
}
.facilities-child6 {
    position: absolute;
    top: 161rem;
    left: 4.938rem;
    width: 77.5rem;
    height: 24.688rem;
    object-fit: contain;
}
.facilities-child7 {
    position: absolute;
    top: 160.813rem;
    left: 4.625rem;
    width: 77.813rem;
    height: 24.875rem;
    object-fit: contain;
}
.facilities {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 207.313rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.25rem;
    color: #000;
    font-family: Inter;
}

